.DS_Store
*.pdf
*.log
*.aux
*.out
proposal.bbl
proposal.blg
proposal.fdb_latexmk
proposal.fls
proposal.lof
proposal.lot
proposal.out
proposal.synctex.gz
proposal.toc
laporan.bbl
laporan.blg
laporan.fdb_latexmk
laporan.fls
laporan.lof
laporan.lot
laporan.out
laporan.synctex.gz
laporan.toc